{
  "extends": ["frost-standard"],
  "rules": {
    "ocd/sort-import-declarations": [
      2,
      {
        "localPrefixes": [
          "../",
          "./",
          "dummy/",
          "lodash"
        ]
      }
    ]
  }
}
